<connectionStrings>
    <!-- This connection string is used by the application as the default connection during security-->
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApp-20200108084639.mdf;Initial Catalog=aspnet-WebApp-20200108084639;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <!-- This connection string will be used by the context class for database access-->
    <add name ="ChinookDB" connectionString ="Data Source = .;Initial Catalog=Chinook;Integrated Security =true" providerName ="System.Data.SQLClient"/>
</connectionStrings>
